@media (max-width: 1200px)
  .container
    max-width: 960px
@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
    &__search
      margin-left: auto
  .search
    &__input
      width: 340px
@media (max-width: 768px)
  .container 
    max-width: 700px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding-top: 28px
      padding-bottom: 28px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
@media (max-width: 576px) 
  .container
    max-width: 480px 
  .logo
    width: 99px   
@media (max-width: 320px) 
  .container
    max-width: 280px 
  .logo
    width: 99px  

