@media (max-width: 1200px)
  .container
    max-width: 960px
    width: 92%
  .hotel
    &-slider
      width: 66%
  .booking
    width: 100%
    margin-bottom: 20px
    margin-left: 20px
  .map
    width: 100%
    margin-left: 20px
@media (max-width:920px)
  .navbar
    &__search
      margin-left: auto
  .reviews
    &-slider
      &__item
        max-width: 579px
@media (max-width: 768px)
  .container
    max-width: 700px
    width: 92%
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &-menu
      padding-top: 19px
      padding-bottom: 23px
      justify-content: space-around
      &__link
        font-size: 12px
        line-height: 15px
    &__search
      margin-left: 47px
  .search
    &__input
      width: 340px
  .rating
    padding-top: 8px
    margin-top: 8px
  .hotel
    padding-bottom: 45px
    &-slider
      max-width: 700px
      width: 100%
      height: 450px
      margin-bottom: 28px
      &__item
        height: 100%
    &-grid
      flex-direction: column
    &-right
      &-wrapper
        flex-direction: row
  .map
    width: 340px
    margin-left: 0
  .booking
    padding: 29px 22px 26px 22px
    width: 340px
    margin-left: 0
    margin-right: 20px
  .newsletter
    padding: 90px 0 95px 0
    &-wrapper
      max-width: 700px
      width: 92%
  .reviews
    &__title
      font-size: 30px
      line-height: 37px
      margin-bottom: 50px
    &-slider
      &__date
        margin-bottom: 4px
      &__profile
        margin-bottom: 33px
      &__button
        top: 50%
        &--prev
          left: 0
        &--next
          right: 0
@media (max-width: 690px)
  .container 
    max-width: 700px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding-top: 23px
      padding-bottom: 28px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .breadcrumb
     &-list
      padding: 23px 0px 13px 0px;
  .stars
    flex-basis: auto
  .hotel
    padding-top: 8px
    padding-bottom: 40px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-slider
      max-width: 100%
      margin-bottom: 20px
      height: 350px
    &-info
      padding-bottom: 38px
      &__offer
        margin-left: 0px
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
    &-right
      &-wrapper
        flex-direction: column
  .stars
    margin-right: 17px
  .swiper
    max-width: 100%
    &-slide
      max-width: 100%
  .booking
    width: 100%
    margin-bottom: 20px
  .map
    width: 100%
  .newsletter
    padding: 76px 0 85px 0
    &-wrapper
      display: flex
      flex-direction: column
      align-items: start
      max-width: 700px
      width: 87%
    &-title
      font-size: 20px
      line-height: 25px
      margin-bottom: 37px
      &__strong
        margin-top: 5px
        font-size: 30px
        line-height: 37px
  .subscribe
    width: 280px
    height: 55px
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after
          display: none
        &:before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -94px
          transform: translate(-50%,0)
        &--next
          right: 50%
          margin-right: -87px
          transform: translate(50%,0)
@media (max-width: 576px) 
  .container
    max-width: 480px
    width: 92%
  .logo
    width: 99px   
  .map
    height: 173px
@media (max-width: 320px) 
  .container
    max-width: 280px
    width: 92%
  .logo
    width: 99px
    height: 13px  
  .hotel
    &-slider
      height: 179px

