.hotel
  padding-top: 14px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    &__offer
      margin-left: 14px
      margin-top: 4px
    &__name
      margin-top: 4px
      margin-bottom: 0
    &__description
      margin: 0
  &-name
    font-size: 24px
    line-height: 30px
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
  &-description
    font-size: 12px
    line-height: 15px
.stars
  flex-basis: 100%
  &__item
    width: 6px
    height: 6px
.offer
  font-size: 10px
  line-height: 13px
  padding: 4px 9px
  background-color: $primary-color
  border-radius: 3px
  color: $white
.rating
  max-width: 65px
  max-height: 45px
  margin-top: 4px;
  padding: 9px 6px 6px 7px;
  font-size: 12px;
  text-align: center
  color: $white
  background-color: $primary-color
  border-radius: 4px
  &__text
    font-size: 8px
    line-height: 10px
  &__counter
    font-size: 14px
    line-height: 18px
